.index {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.index .div-2 {
    background-color: #ffffff;
    height: 1076px;
    overflow: hidden;
    position: relative;
    width: 1440px;
}

.index .mypage-sidebar-wrap-instance {
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
}

.index .mypage-footer-wrap-instance {
    left: 14px !important;
    position: absolute !important;
    top: 960px !important;
}

/*.index .mypage-password-check-wrap-instance {*/
/*    left: 80px !important;*/
/*    position: absolute !important;*/
/*    top: 0 !important;*/
/*}*/

/*.index .mypage-my-info-edit-instance {*/
/*    background-image: url(https://cdn.animaapp.com/projects/656fc45c1d7b0bae0287709d/releases/6572b348cd9388f80f7869b7/img/button.svg) !important;*/
/*}*/